<div id="main">
  <div class="main-title">
    <h2><%= link_to "THRIFT", root_path%></h2>
    <em class="main-title__desc">Magasin d'habits de seconde-main eco-friendly.</em>
  </div>
  <div class="main-title">
    <%= render(partial: 'mobile-header')%>
  </div>
  <div id="no-item" class="hidden">
  </div>
  <div id="all-items">
    <% @items.each do |item|%>
        <%= render(partial: 'cart_item',
                   locals: {card_title: item.title, price: item.price, photo_url: item.photo_url, item: item})%>
    <% end %>
  </div>
  <script type="text/javascript">

    if(localStorage.getItem('cart').length > 0){
      cart = localStorage.getItem('cart');
      cart=JSON.parse(cart);
    }

    if(cart.length == 0){
      el = document.getElementById("no-item");
      el.className="";
      el.innerText="Aucun habit dans ton panier... (Clique sur 'AJOUTER AU PANIER' en dessous des habits pour les voir apparaître ici.)"
    } else if (cart.length == 1){
    } else {
      main = document.getElementById("main");
      main.id ="";
    }

    items = document.getElementsByClassName("all_cart");

    for(let i=0; i< items.length; i++){
      el=items[i].firstElementChild.firstElementChild.textContent.replace(/\s/g,'');

      if(cart.indexOf(el)>=0){
        items[i].className="all_cart";
      }
    }

    next = document.getElementsByClassName("cart_nextBtn");


    if((cart.length != 0) && (next.length == 0)){

      allItems = document.getElementById("all-items");

      var hrElem = document.createElement("hr");
      hrElem.setAttribute("class", "hr__next");

      allItems.appendChild(hrElem);

      var next = document.createElement("btn");
      next.textContent="Suivant";
      next.setAttribute("name", "next");
      next.setAttribute("class", "cart_nextBtn");

      var link = document.createElement("a");
      link.setAttribute("href", "/cart/address")
      link.appendChild(next);

      var nextRow = document.createElement("div");
      nextRow.setAttribute("class","cart_nextBtnRow");
      nextRow.setAttribute("id", "nextRow")
      nextRow.appendChild(link);

      allItems.appendChild(nextRow);
    }

  </script>
</div>
