
<h2 class="email-up">Confirmation de payement</h2>
<h2 class="email-up">Merci pour ta commande !</h2>

<div class=email-center>
 <%=image_tag 'logo.jpeg' %>

</div>
<div class="email-text">
  Nous avons bien reçu ta commande, elle te sera déliverée à l'adresse indiquée dans les plus brefs délais (7 jours ouvrables maximum).

  Merci pour ton soutien, à bientôt !
</div>
<div class="email-bottom">
Retrouve-nous sur :
</div>
<div class="email-bottom">
www.thriftshop.ch
</div>
<div class="email-bottom">
@thriftshopch
</div>
