<div class="contact">
  <h4>Informations de contact:</h4>
  <div class="contact_info">
    <div>
      Email - thriftshopch@gmail.com
    </div>
    <div>
      Instagram - @thriftshop__ch
    </div>
    <div>
      <%= link_to "Retour", items_path %>
    </div>
  </div>
</div>
