<div id="main">
  <div class="main-title">
    <h2 class="main-title__mobile"><%= link_to "THRIFT", root_path%></h2>
    <em class="main-title__desc">Magasin d'habits de seconde-main eco-friendly.</em>
  </div>
  <div class="main-title">
    <%= render(partial: 'mobile-header')%>
  </div>
  <div class="home_cards">
    <% @items.each do |item| %>
      <%= render(partial: 'item_card',
                 locals: {card_title: item.title,
                          price: item.price,
                          description: item.description,
                          photo_url: item.photo_url,
                          item: item}) %>
    <% end %>
  </div>
  <div class="home_cards__link">
    <%= link_to "Plus d'habits ...", items_path%>
  </div>

</div>

<script type="text/javascript">
  cart=[];
  if(localStorage.getItem('cart').length > 0){
    cart = localStorage.getItem('cart');
    cart=JSON.parse(cart);
  }



  buttons = document.getElementsByClassName("card__add");

  for(let i=0; i< buttons.length; i++){

    sign = buttons[i].lastElementChild;


    el=buttons[i].firstElementChild.textContent.replace(/\s/g,'');

    if(cart.indexOf(el)>=0){
      sign.remove();
      buttons[i].lastElementChild.remove();

      var added = document.createElement("div");
      added.textContent="AJOUTÉ AU PANIER";
      added.className="card__add--added"

      buttons[i].appendChild(added);
      cart.push(item);
    }
  }

  var cardImg = document.getElementsByClassName("card__img");
  console.log(cardImg);
  for(let i=0; i< cardImg.length; i++){
    cardImg[i].className="card__img img--home";
  }
</script>
