
/*--------------
  BASIC LAYOUT
  --------------*/

.card{
  height: 100%;
  width: 95%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  margin: 3em auto;

}

.card__img{

  max-width: 100%;
  max-height: 100%;

  width: 984px;
  height: 1354px;

  &.img--home{
    max-width: 100%;
    max-height: 100%;

    width: 984px;
    height: 1354px;
  }
}

.card__desc{font-size: 0.9em;
}

.card__title{
  margin: 1em 0;
  padding-left: 1em;
}

.card__intro{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


  h4{
    margin: 0.7em 0;
    font-size: 3em;
  }
}


.card__price{
  font-weight: 100;
  font-size: 0.9em;
}

.card__add{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d8e3df;
  font-size:2.5em;

  width: 100%;
  height: 40%;

  margin-bottom: 1em;

  div{
    margin-left: 1em;

  }

  svg{
    width: 20%;
    height: 60px;
  }
}

.card__add--added{
  margin: 0.2em;
}


/*--------------
  DESKTOP LAYOUT
  --------------*/

@media only screen and (min-device-width: 480px){
  .card{
    width: 25%;
    height:75%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 0 0.2em;
    margin:0;

    @media screen and (min-width: 1500px) {
      width: 15%;
      padding: 0 1.5em;
    }
  }

  .card__img{
    max-width: 100%;
    max-height: 75%;

    @media screen and (min-width: 600px) {
      width: 250px;
      height: 375px;

      &.img--home{
        width: 250px;
        height: 375px;
      }
    }
    @media screen and (min-width: 1500px) {
      width: 280px;
      height: 420px;
    }

  }

  .card__img--center{
    display:flex;
    justify-content: center;

    max-width: 100%;
    max-height: 100%;
  }

  .card__add{
    max-width: 230px;
    height:60%;
    padding:0;
    font-size: 1em;
    margin:0 0 1em;

    & div{
      padding-left: 0.1em;
      margin-left:0.5em;
    }

    & svg{
      height:25px;
    }
  }

  .card__intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    h4{
      margin: 0.7em 0;
      font-size: 1em;
    }
  }

  .card__add--cart{
    width:220px;
    padding: 0.2em 0;
  }
}
