#address_title{
  font-size: 3em;

}

.address_warning{
  font-size:1.5em;
  text-align: center;

  margin:1em 0;
}

@media only screen and (min-device-width: 480px){
  #address_title{
    font-size:2em;
  }

}
