// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*--------------
  BASIC LAYOUT
  --------------*/

.nav-header{
  display: none;
}

.nav-links{
    list-style-type: none;
    li{display:inline-block;
      margin-left: 2em;
    }
}

.main-title{
  text-align: center;
  margin: 0.1em auto;

  font-size:4em;
}

.main-title__desktop{
  display:none;
}

.main-title__desc{
  display:none;
}

.home_cards{
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.home_cards__link{
  font-size: 2.5em;
  text-align: center;

  margin: 2em auto;

  a {
  color: blue;
  }
}

/*--------------
  DESKTOP LAYOUT
  --------------*/

@media only screen and (min-device-width: 480px){
  .nav-header{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 2em;
  }


  .main-title{
    display:none;
  }

  .home_cards{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction:row;

    height:90%;
  }

  .home_cards__link{
    font-size: 1.1em;
    margin:0 auto 2em;
  }
}

@media screen and (max-height: 800px) {
  .home_cards__link{
    display:none;
  }
}
