// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ITEMS SHOW */
.show{
  margin: 1em 0;
}

.card--show{
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 95%;
  margin: 6em auto;
}

.card--show__desc{
  line-height: 50px;

  display:flex;
  flex-direction: column;
  justify-content: center;

  padding:  1em 0 2em;

  font-size: 2.5em;
}

.card--show__link{
  font-size: 2.5em;
  text-align: center;

  margin: 2em auto 1em;

  a{
    color:blue;
  }
}

/* INDEX ITEMS */

.items--index{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;

  height: 50%;
  width: 100%;

  padding: 2em;

  .card{
    padding: 2em 1em;
  }
}
