// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ITEMS SHOW */
@media only screen and (min-device-width: 480px){
  .main--show{
    display:flex;
    flex-direction: row;
    height:84vh;
  }
}

.show{
  margin: 1em 0;
}

@media only screen and (min-device-width: 480px){
  .show{
    width:50%;
    height:100%;
    margin:0;
    padding-left:2em;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
}

.card--show{
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 95%;
  margin: 6em auto;

}

@media only screen and (min-device-width: 480px){
  .card--show{
    margin:0;
    width:100%;
  }

}


.card--show__desc{
  line-height: 50px;

  display:flex;
  flex-direction: column;
  justify-content: center;

  padding:  1em 0 2em;

  font-size: 2.5em;

  a{
    color: blue;
  }
}

.card--show__return{
  display:none;
  margin:1em 0;
}

@media only screen and (min-device-width: 480px){
  .card--show__desc{
    font-size: 1em;
    width:50%;
    padding-right: 2em;
  }

  .card--show__return{
    display:block;
  }

}

.card--show__link{
  font-size: 2.5em;
  text-align: center;

  margin: 2em auto 1em;

  a{
    color:blue;
  }
}

@media only screen and (min-device-width: 480px){
  .card--show__link{
    display:none;
  }
}

/* CAROUSEL BUTTONS */

.card--carousel{
  display:flex;
  justify-content: space-between;
  padding: 0 0.5em;
  margin: 0 0 0.2em 0;

  font-size: 6em;

  h4{
    font-size: 0.5em;
    margin:0;
    padding: 0.7em 0 0 0;
  }
}

.card--carousel__right{
  display:inline-block;
}

.card--carousel__left{
  display:inline-block;
}

/* INDEX ITEMS */

.items--index{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;

  height: 50%;
  width: 100%;

  padding: 2em;

  .card{
    padding: 2em 1em;
  }
}

.index_cards__link{
  font-size: 2.5em;
  text-align: center;

  margin: 2em auto;

  a {
  color: blue;
  }
}
/*--------------
DESKTOP
--------------*/

@media only screen and (min-device-width: 480px){
  .index_cards__link{
    font-size:1em;
  }
}
