// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ITEMS SHOW */
.show{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.card--show{
  display: flex;
  justify-content: space-around;

  width: 100%;
  margin:auto;
}

.card--show__desc{
  width: 600px;
  line-height: 50px;

  display:flex;
  flex-direction: column;
  justify-content: center;

  padding: 2em 0 4em;
}

/* INDEX ITEMS */

.items--index{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;

  height: 50%;
  width: 100%;

  padding: 2em;

  .card{
    padding: 2em 1em;
  }
}
