.payment__wrapper{
  display:flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 2em auto;
}

.payment__block{
  padding: 2em 0;
}

.payment__title{
  font-size:3em;
}

.payment__title--livraison{
  font-size: 3em;
  margin-bottom:0;
}

.payment__info{
  padding: 1em;
  margin: 2em 0 0 0;
  padding: 1em;

  font-size: 2em;
}

.payment_info--bank{
  margin: 2em 0;
  background-color: #E2E2E2;
  border-radius: 10px;
  padding-left:2em;

  text-align:left;
}


.payment__item{
  display:flex;
  justify-content: space-between;
  padding: 0.8em 1em;

  font-size: 2em;

  &.customer{
    padding: 0.3em 1em;

    font-style: italic;
  }
}

.payment__next{
  display:flex;
  justify-content: center;

  margin: 2em 0;
}

.payment__confirmation{
  font-size: 3em;

  text-align: center;
  margin:2em auto 32em;
}

@media only screen and (min-device-width: 480px){

  .payment__title{
    font-size:1.5em;
  }

  .payment__item{
    font-size:1em;
  }

  .payment__title--livraison{
    font-size:1.5em;
  }

  .payment__confirmation{
    font-size:1em;
  }

  .payment__info{
    padding: 1em;
    margin: 2em 0 0 0;
    padding: 1em;

    font-size: 1em;
  }
}
