<%= form_tag(add_path, class: 'wide--center', method: :get, remote: true) do %>

  <%= hidden_field_tag('item', item.id)%>
  <%= button_tag('ADD TO CART', class:  'card__add') do %>
    <div class="hidden">
      <%= item.id %>
    </div>
    <div>ADD TO CART</div>
    <svg>
      <use href="#pluss"></use>
    </svg>
  <% end %>

<% end %>
