<header>
  <nav class= "nav-header">
    <div class="logo"><%= link_to "Thriftshop", root_path%></div>
    <ul class="nav-links">
      <li><%= link_to "Clothes", items_path%></li>
      <li><a href="#">Sign up / Log in</a></li>
    </ul>
  </nav>
  <hr>
</header>
