<div class="card">
  <%= link_to(item_path(item)) do %>
    <%= render(partial: 'item_photo',
               locals: {photo_url: photo_url}) %>
    <div class="card__intro">
      <h4 class="card__title"><%= card_title %> // <span class="card__price"><%= price %> CHF</span></h4>
    </div>
    <% end %>
</div>
