<%= link_to(item_path(item.id)) do %>
  <div class="card">
    <div class="card__img">
      <%= image_tag(photo_url) %>
    </div>
    <div class="card__intro">
      <h4 class="card__title"><%= card_title %></h4>
      <span class="card__desc"><%= description %></span>
    </div>
  </div>
<% end %>
