<div class="card">
  <%= image_tag("hoodie1.jpg") %>
  <div class="card__intro">
    <h4 class="card__title">Hoodie</h4>
    <span class="card__desc">A small description of the product...</span>
  </div>
</div>

<div class="card">
  <%= image_tag("t-shirt1.jpg") %>
  <div class="card__intro">
    <h4 class="card__title">T-shirt</h4>
    <span class="card__desc">A small description of the product...</span>
  </div>
</div>

<div class="card">
  <%= image_tag("t-shirt2.jpg") %>
  <div class="card__intro">
    <h4 class="card__title">T-shirt</h4>
    <span class="card__desc">A small description of the product...</span>
  </div>
</div>
