<div class="mobile-header">
  <div>
    <%= link_to "ACCUEIL |", root_path %>
  </div>
  <div>
    <%= link_to " HABITS |", items_path %>
  </div>
  <div>
    <%= link_to "PANIER", cart_index_path %>
  </div>
</div>
<hr>
