<%= form_tag(remove_path, method: :get,class: "remove-form", remote: true) do %>

  <%= hidden_field_tag('item', item.id)%>
  <%= button_tag('Remove', class: "cart__remove") do %>
    <div class="hidden">
      <%= item.id %>
    </div>
    <div>ENLEVER DU PANIER</div>
  <% end %>

<% end %>
