<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      img{
        width: 250px;
      }

      .email-image{
        text-align:center;
        padding: 2em 0;
      }

      .email-title{
        font-size: 1.5em;
      }

      .email-title__number{
        font-size: 1.1em;
      }

      .email-text{
        font-size: 1.2em;
        margin: 2em 0;
      }

      .email-bottom{
        margin:1em 0 2em;
        padding:1em;
        background-color: #ECECEC;
      }

      .email-contact__item{
        padding:0.2em 0;
      }

      .email-title__2{
        font-size: 1.1em;
      }

      .email-order{
        background-color: #FFFFFF;
        margin:1em 0 2em;
      }

      .email-order__user{
        margin: 1em 0;
        font-style: italic;
      }

      .email-order__cart{
        margin: 1em 0;
        font-style: italic;
      }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
